# Required
export DATABASE_URI='mysql+mysqlconnector://{user}:{password}@{localhost}/{db_name}?charset=utf8'

# Optional(Default)
# export FLASK_APP="app:create_app()"
# export FLASK_ENV=production
# export PORT=5000
